{% extends "orders/base.html" %}

{% block title %}
  Pinnochio's Pizza
{% endblock %}

{% block body %}

<h1 class= "main">
  {{ page_text }}
</h1>
<table>
  <tr>
    <th>Item</th>
    <th>Toppings</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
{% for cart_detail in cart_details %}
<tr>
    <td>{{cart_detail.food.name}}</td>
    <td>{{cart_detail.topping.all|join:", "|default:"None" }} </td>
    <td>{{cart_detail.quantity}}</td>
    <td>{{cart_detail.food.price}}</td>
</tr>  
{% endfor %}
</table>
<a href="{% url 'menu'%}">Back to Menu</a>



  
  
{% endblock %}