{% extends "orders/base.html" %}

{% block title %}
  Pinnochio's Pizza
{% endblock %}

{% block body %}

  <h1 class= "main">
    {{ page_text }}
  </h1>
  
  <h2>Pizza</h2>
   {% for pizza in pizzas %}
      <li>
        {{ pizza.size }} {{ pizza.item }} Toppings pizza ${{ pizza.price }}
      </li>
      <form action="{% url 'add_item' pizza.id%}" method="post">
        {% csrf_token %}
        <button type="submit" value="pizza.name">Add Item</button>
      </form>
    {% endfor %}



  <h2>Subs</h2>

    {% for sub in subs %}
      <li>
        {{sub.size}} {{ sub.item }} ${{sub.price}}
      </li>
    {% endfor %}

  <h2>Pasta</h2>
   {% for pasta in pastas %}
      <li>
         {{ pasta.name }} ${{pasta.price}}
      </li>
    {% endfor %}

  <h2>Salad</h2>
    {% for salad in salads %}
      <li>
        {{ salad.name }} ${{salad.price}}
      </li>
    {% endfor %}

  <h2>Dinner Platters</h2>
    {% for dinner in dinners %}
      <li>
        {{ dinner.size }} {{ dinner.name }} ${{dinner.price}}
      </li>
    {% endfor %}
  
{% endblock %}