{% extends "orders/base.html" %}
{% load static %}
{% block title %}
  Pinnochio's Pizza
{% endblock %}
{% block script%}
  <script src="{% static 'orders/menu.js' %}"></script>
{% endblock %}
{% block body %}

  <h1 class= "main">
    {{ page_text }}
  </h1>
  <a href= "{% url 'cart'%}">Go to cart</a>
  <h2>Pizza</h2>
   {% for pizza in pizzas %}
      <li>
        {{ pizza.size }} {{ pizza.name }} ${{ pizza.price }}
      </li>
      <form action="{% url 'add_item' pizza.id%}" method="post">
        {% csrf_token %}
        {% if pizza.numToppings > 0 %}
        <div class="form-group">
            <label>Select <a id ="numToppings{{pizza.id}}"> {{ pizza.numToppings }}</a> toppings</label>
            <div name="topping" data-numTop="{{pizza.numToppings}}" class="form-control toppings">
              {% for topping in toppings%}
              <input type="checkbox" name = "toppings" value="{{topping.id}}">{{topping.name}} <br>
              {% endfor %}
            </div>
        {% endif %}
        <button class="add-item" type="submit" name="food" value="{{pizza.id}}">Add Item</button>
      </form>
    {% endfor %}



  <h2>Subs</h2>

    {% for sub in subs %}
      <li>
        {{sub.size}} {{ sub.item }} ${{sub.price}}
      </li>
      <form action="{% url 'add_item' sub.id%}" method="post">
        {% csrf_token %}
        <button class="add-item" type="submit" name="food" value="{{sub.id}}">Add Item</button>
      </form>
    {% endfor %}

  <h2>Pasta</h2>
   {% for pasta in pastas %}
      <li>
         {{ pasta.name }} ${{pasta.price}}
      </li>
      <form action="{% url 'add_item' pasta.id%}" method="post">
        {% csrf_token %}
        <button class="add-item" type="submit" name="food" value="{{pasta.id}}">Add Item</button>
      </form>
    {% endfor %}

  <h2>Salad</h2>
    {% for salad in salads %}
      <li>
        {{ salad.name }} ${{salad.price}}
      </li>
      <form action="{% url 'add_item' salad.id%}" method="post">
        {% csrf_token %}
        <button class="add-item" type="submit" name="food" value="{{salad.id}}">Add Item</button>
      </form>
    {% endfor %}

  <h2>Dinner Platters</h2>
    {% for dinner in dinners %}
      <li>
        {{ dinner.size }} {{ dinner.name }} ${{dinner.price}}
      </li>
      <form action="{% url 'add_item' dinner.id%}" method="post">
        {% csrf_token %}
        <button class="add-item" type="submit" name="food" value="{{dinner.id}}">Add Item</button>
      </form>
    {% endfor %}
  
{% endblock %}