{% extends "users/base.html" %}

{% block title %}
  Pinnochio's Pizza
{% endblock %}


{% block body %}
<h1>Signup Below</h1>
{% if message %}
    <div>
        {{ message }}
    </div>
{% endif %}
<form action="{% url 'createuser' %}" method="post">
    {% csrf_token %}
    <label for="username"> Enter a username </label>
    <input name="username" type="text"/>
    <label for="password"> Enter a password </label>
    <input name="password" type="password"/>
    <input type="submit" value="Signup"/>
</form>
{% endblock %}
